<%= form_with(model: quotation, remote: true) do |form| %>
  <div id="error_fields">
  </div>
  <div class="row mx-0">
    <div class="col-6">
      <div class="field">
        <%= form.label 'First Name*' %>
        <%= form.text_field :first_name, required: true, class: 'w-100', class: 'w-100' %>
      </div>

      <div class="field">
        <%= form.label 'Last Name*' %>
        <%= form.text_field :last_name, required: true, class: 'w-100' %>
      </div>

      <div class="field">
        <%= form.label 'Phone Number*' %>
        <%= form.number_field :phone_number, required: true, class: 'w-100' %>
      </div>

      <div class="field">
        <%= form.label 'Email*' %>
        <%= form.email_field :email, required: true, class: 'w-100' %>
      </div>

      <div class="field">
        <%= form.label 'Muncipal Evaluation Of The Property*' %>
        <%= form.text_field :eval_value, required: true, class: 'w-100' %>
      </div>
    </div>

    <div class="col-6">
      <%= form.fields_for :address do |f| %>
        <%= render partial: "address_fields", locals: {f: f}%>
      <% end %>
    </div>

    <div class="actions">
      <%= form.submit "GET A QUOTE", class: 'btn btn-primary my-3' %>
    </div>
  </div>
<% end %>


<div id="transaction_form">
</div>

<div id="modal_form">
</div>


