<div class="modal fade" id="card_info_form" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Pay Online</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with(model: @card_information, remote: true, url: create_card_info_quotations_path) do |f| %>
          <div class="field row">
            <div class="col-4">
              <%= f.label :postal_code %>
            </div>
            <div class="col-8">
              <%= f.text_field :postal_code,required: true %>
            </div>
          </div>

          <div class="field row">
            <div class="col-4">
              <%= f.label :card_name %>
            </div>
            <div class="col-8">
              <%= f.text_field :card_name,required: true %>
            </div>
          </div>

          <div class="field row">
            <div class="col-4">
              <%= f.label :card_number %>
            </div>
            <div class="col-8">
              <%= f.text_field :card_number,required: true %>
            </div>
          </div>

          <div class="field row">
            <div class="col-4">
              <%= f.label :expiry_date %>
            </div>
            <div class="col-8">
              <%= f.month_field :expiry_date,required: true, min: Date.today %>
            </div>
            <%= f.hidden_field :transaction_info_id,value: @transaction.id %>
          </div>

          <div class="field row">
            <div class="col-4">
              <%= f.label :cvv %>
            </div>
            <div class="col-8">
              <%= f.text_field :cvv,required: true, pattern: "[0-9]{3,4}", placeholder: 'CVV ***'  %>
            </div>
          </div>

          <div class="field row">
            <div class="col-4">
              <%= f.label :email %>
            </div>
            <div class="col-8">
              <%= f.text_field :email,required: true %>
            </div>
          </div>

          <%= f.submit "Pay $#{@transaction.quotation.insurance_value}", class: "btn btn-success" %>          
        <% end %>
      </div>
    </div>
  </div>
</div>