<hr>
<div>
  <h2>INSURANCE PREMIUM</h2>
  <h1 class="text-primary"> <%= @quotation.insurance_value %> $ </h1>

  <h4> For a property valued at <%= @quotation.eval_value %>$ , your one time insurance premium is <%= @quotation.insurance_value %> </h4>
</div>
<hr>

<h2> Transaction Information </h2>
<%= form_with(model: @transaction, remote: true, url: create_transaction_quotations_path) do |f| %>
  <div id="transaction_error_fields">
  </div>

  <div class="field d-flex">
    <%= f.hidden_field :quotation_id, value: @quotation.id %>
    <%= f.label 'Languages:*' %>
    <div class='d-flex mx-3'>
      <% TransactionInfo.languages.each do |lang, val| %>
        <%= f.radio_button :language, val, required: true %>
        <%= f.label lang,class: 'mx-2',for: "transaction_info_language_#{val}" %>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= f.label 'Homeowner(s) Name(s)*' %>
    <%= f.text_field :home_owner_1, placeholder: 'Owner 1*', required: true %>
    <%= f.text_field :home_owner_2, placeholder: 'Owner 2' %>
    <%= f.text_field :home_owner_3, placeholder: 'Owner 3' %>
  </div>

  <div class="field">
    <%= f.label 'Property type*' %>
    <%= f.select :property_type, TransactionInfo.property_types.keys, :include_blank => 'Select Property Type',required: true %>
  </div>

  <div class="field">
    <%= f.label 'Property owner' %>
    <%= f.radio_button :property_owner, true %> Yes
  </div>

  <div class="field">
    <%= f.label 'Purchase date*' %>
    <%= f.date_field :purchase_date, max: Date.today,required: true %>
  </div>

  <hr>
  <h2> Legal info </h2>

  <div class="field">
    <%= f.label 'Lots number(s):*' %>
    <%= f.text_field :lot_number, required: true,placeholder: 'Lot Number*' %>
  </div>
  
  <div class="row mx-0">
    <div class="col-4 px-0">
      <%= f.fields_for :address do |f| %>
        <%= render partial: "address_fields", locals: {f: f}%>
      <% end %>
    </div>
  </div>

  <hr>
  <h2> Information regarding the property </h2>

  <div class="field">
    <p>Is the Insured Property bound by water (lac, stream, river, etc.)?*</p>
    <%= f.radio_button :bound_water, true, required: true %> YES
    <%= f.radio_button :bound_water, false, required: true %> NO
  </div>

  <div class="field">
    <p>Is the Insured Property on Municipal Water and Municipal Sewer?*</p>
    <%= f.radio_button :muncipal_water, true, required: true %> YES
    <%= f.radio_button :muncipal_water, false, required: true %> NO
  </div>

  <div class="field">
    <p>Has a title insurance already been issued for the insured property according to the client ?*</p>
    <%= f.radio_button :insurance_issued, true, required: true %> YES
    <%= f.radio_button :insurance_issued, false, required: true %> NO
  </div>

  <div class="field">
    <p>Has a title insurance been denied for the insured property, to the best of the client's knowledge?*</p>
    <%= f.radio_button :insurance_denied, true, required: true %> YES
    <%= f.radio_button :insurance_denied, false, required: true %> NO
  </div>

  <div class="field" >
    <h2>Notes</h2>
    <%= f.text_area :note, rows: 5, cols: 100 %>
  </div>

  <div class="field">
    <%= f.label :agent_name %>
    <%= f.text_field :agent_name %>
  </div>
  
  <div class="field">
    <%= f.label :agent_email %>
    <%= f.email_field :agent_email %>
  </div>

  <%= f.submit "Pay Online", class: 'btn btn-success my-3', name: 'pay_online' %>
  <%= f.submit "Get a callback", class: 'btn btn-primary my-3', name: 'request_callback' %>

<% end %>
