<div class="alert alert-success" role="alert">
  Data Saved Successfully
</div>

<h2>Quotation Details</h2>

<table>
  <tbody>
    <tr>
      <td>Name</td>
      <td><%= @quotation.first_name %> <%= @quotation.last_name %></td>
    </tr>
    <tr>
      <td>Phone Number</td>
      <td><%= @quotation.phone_number %> </td>
    </tr>
    <tr>
      <td>Email</td>
      <td><%= @quotation.email %> </td>
    </tr>
    <tr>
      <td>Address</td>
      <td><%= @quotation.address.address %> </td>
    </tr>
    <tr>
      <td>City</td>
      <td><%= @quotation.address.city %> </td>
    </tr>
    <tr>
      <td>Province</td>
      <td><%= @quotation.address.province %> </td>
    </tr>
    <tr>
      <td>Postal Code</td>
      <td><%= @quotation.address.postal_code %> </td>
    </tr>
    <tr>
      <td>Muncipal evaluation of the property</td>
      <td><%= @quotation.eval_value %>$ </td>
    </tr>
    <tr>
      <td>INSURANCE PREMIUM</td>
      <td><%= @quotation.insurance_value %>$ </td>
    </tr>
  </tbody>
</table>

<h2>Transaction Details</h2>
<% @transaction = @quotation.transaction_info.last %>
<table>
  <tbody>
    <tr>
      <td>Languages</td>
      <td><%= TransactionInfo.languages.keys[@transaction.language].titleize %></td>
    </tr>
    <tr>
      <td>Home Owner</td>
      <td><%= @transaction.home_owner_1 %> </td>
    </tr>
    <% if @transaction.home_owner_2? %>
      <tr>
        <td>Home Owner 2</td>
        <td><%= @transaction.home_owner_2 %> </td>
      </tr>
    <%end%>
    <% if @transaction.home_owner_3? %>
      <tr>
        <td>Home Owner 3</td>
        <td><%= @transaction.home_owner_3 %> </td>
      </tr>
    <%end%>
    <tr>
      <td>Property Type</td>
      <td><%= TransactionInfo.property_types.keys[@transaction.property_type] %> </td>
    </tr>
    <tr>
      <td>Property Owner</td>
      <td><%= @transaction.property_owner.humanize %> </td>
    </tr>
    <tr>
      <td>Purchase Date</td>
      <td><%= @transaction.purchase_date %> </td>
    </tr>
    <tr>
      <td>Lot Number</td>
      <td><%= @transaction.lot_number %> </td>
    </tr>
  </tbody>
</table>

<h2>Legal Info</h2>

<table>
  <tbody>
    <tr>
      <td>Lot Number</td>
      <td><%= @transaction.lot_number %> </td>
    </tr>
    <tr>
      <td>Address</td>
      <td><%= @transaction.address.address %> </td>
    </tr>
    <tr>
      <td>City</td>
      <td><%= @transaction.address.city %> </td>
    </tr>
    <tr>
      <td>Province</td>
      <td><%= @transaction.address.province %> </td>
    </tr>
    <tr>
      <td>Postal Code</td>
      <td><%= @transaction.address.postal_code %> </td>
    </tr>
    <tr>
  </tbody>
</table>

<h2>Information regarding property</h2>

<table>
  <tbody>
    <tr>
      <td>Is the Insured Property bound by water (lac, stream, river, etc.)?</td>
      <td><%= @transaction.bound_water.humanize %> </td>
    </tr>
    <tr>
      <td>Is the Insured Property on Municipal Water and Municipal Sewer?</td>
      <td><%= @transaction.muncipal_water.humanize %> </td>
    </tr>
    <tr>
      <td>Has a title insurance already been issued for the insured property according to the client ?</td>
      <td><%= @transaction.insurance_issued.humanize %> </td>
    </tr>
    <tr>
      <td>Has a title insurance been denied for the insured property, to the best of the client's knowledge?</td>
      <td><%= @transaction.insurance_denied.humanize %> </td>
    </tr>
  </tbody>
</table>

<h2>Note</h2>

<table>
  <tbody>
    <tr>
      <td>Note</td>
      <td><%= @transaction.note %> </td>
    </tr>
    <tr>
      <td>Agent Name</td>
      <td><%= @transaction.agent_name %> </td>
    </tr>
    <tr>
      <td>Agen Email</td>
      <td><%= @transaction.agent_email %> </td>
    </tr>
  </tbody>
</table>

<% if @transaction.callback_information.present? %>
  <h3> Callback Requested </h3>
  <div>
  Phone Number:
  <%= @transaction.callback_information.phone_number %>
  </div>
  <div>
  Call Availability:
  <%= CallbackInformation.call_availabilities.keys[@transaction.callback_information.call_availability] %>
  </div>
<% else %>
  <h3 class="text-success my-2"> Payment Done Online </h3>
  <strong> Transaction id:</strong>
  <%= Digest::SHA1.hexdigest(@transaction.card_information.id.to_s)%>
<% end %>
<div> <%= link_to "Done", root_path, class: 'btn btn-primary'%> </div>
